body, html {height: 100%;}

.bgImg{
    background-image: url('../images/macbook.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.name{
    
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
